@model Evis.VisitorManagement.Web.ViewModel.LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("Index", "Dashboard", FormMethod.Post))
{
    <link href="@Url.Content("http://fonts.googleapis.com/css?family=Roboto:400,100,300,500")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/customCss")

    <!-- Top content -->
    <div class="top-content">
        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Login to our site</h3>
                                <p>Enter your username and password to log on:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-key"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form role="form" action="" method="post" class="login-form">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.UserName, new { @class = "sr-only" })
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-username form-control", @placeholder = "Username..." })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-username form-control", @placeholder = "Password..." })
                                </div>
                                <button type="submit" class="btn">Sign in!</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 social-login">
                        <h3>...or login with:</h3>
                        <div class="social-login-buttons">
                            <a class="btn btn-link-1 btn-link-1-facebook" href="#">
                                <i class="fa fa-facebook"></i> Facebook
                            </a>
                            <a class="btn btn-link-1 btn-link-1-twitter" href="#">
                                <i class="fa fa-twitter"></i> Twitter
                            </a>
                            <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                                <i class="fa fa-google-plus"></i> Google Plus
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

            <!-- Javascript -->
    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->
}


